
.sequence-main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #216bb4;
}

.sequence-hero, .sequence-main{
    background-color: #216bb4;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sequence-hero-title{
    margin: 40px auto;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}

.sequence-lives{
    margin: 30px auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.sequence-lives img{
    height: 40px;
}


.hero-grid{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
}

.grid-box{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.4rem;
    transition: 0.5s;
    border: 5px solid white;
    background-color: #216bb4;
}

.toggle-box{
    background-color: white;
}

.sequence-hero-text{
    font-size: 1.7rem;
    margin: 10px 0px;
}

.name-input{
    margin-top: 40px;
    text-align: center;
  }
  
.name-input p{
    margin-top: 10px
}

.name-input-input{
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 1.5rem;
    text-align: center;
}

.sequence-hero-button{
    color: rgb(17, 3, 3);
    background-color: #4ad327;
    padding: 10px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
}

.sequence-hero-button:disabled, .sequence-hero-button:disabled:hover {
    background-color: #738f6c;
}

.sequence-hero-button:hover{
    background-color: #65e62a;
    transform: scale(1.1);
}

.sequence-main{
    display: flex;
    justify-content: center;
}

.sequence-main-text, .sequence-main-display-text{
    font-size: 1.7rem;
    margin: 10px 0px;
    margin: 30px auto;
}

.sequence-main-display-text{
    background: rgb(30, 30, 126);
    padding: 10px 30px;
    border-radius: 10px;
}

.sequence-main-hero-grid{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.main-grid-box{
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.4rem;
    transition: 0.5s;
    border: 3px solid white;
    background-color: #216bb4;
    transition: background-color 0.5s;
}

.main-grid-box-selected{
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.4rem;
    transition: 0.5s;
    border: 3px solid white;
    background-color: white;
}

.sequence-level{
    font-size: 2rem;
}

.half-opacity{
    opacity: 0.6;
}

.game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 400px;
    border: 1px solid rgb(214, 204, 204);
    background: rgb(93, 130, 161);
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 20px 5px #494545;
    animation: fadeIn 1.0s ease-in;
}

.game-over-title{
    margin-top: 20px;
    font-size: 2rem
}

.game-over-image{
    margin: 20px 0px;
}

.game-over-text{
    font-size: 1.5rem;
}

.game-over-flavour-text{
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    padding: 0px 40px;
}

.game-over button{
    position: relative;
    top: -82%;
    left: 40%;
    padding: 5px 10px;
    font-size: 1.0rem;
    border-radius: 5px;;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1.0;
    }
}

@media (max-width: 1200px){
    .sequence-hero-title{
        font-size: 2.5rem;
    }
    .sequence-hero-text{
        font-size: 1.5rem;
    }
    .game-over{
        height: 400px;
        width: 350px;
    }
    .game-over-image{
        height: 175px
    }
    .game-over-title{
        font-size: 1.6rem
    }
    .game-over-text{
        font-size: 1.4rem;
    }
    .game-over-flavour-text{
        font-size: 1.2rem;
        padding: 0px 20px;
    }
    .game-over button{
        position: relative;
        top: -80%;
        font-size: 0.7rem;
    }
}

@media (max-width: 768px){
    .sequence-hero-title{
        font-size: 2.0rem;
    }
    .grid-box{
        height: 40px;
        width: 40px;
    }
    .hero-grid{
        display: grid;
        column-gap: 7px;
        row-gap: 7px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 30px;
    }
    .sequence-hero-text{
        font-size: 1.3rem;
    }
    .name-input{
        margin-top: 20px;
        font-size: 1rem
    }
    .name-input-input{
        font-size: 1.3rem;
    }
    .sequence-hero-button{

        padding: 5px 10px;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 1.2rem;
    }
    .main-grid-box{
        height: 60px;
        width: 60px;
    }
    .sequence-main-text{
        font-size: 1.4rem;
    }
    .sequence-main-display-text{
        font-size: 1.2rem;
    }
    .sequence-level{
        font-size: 1.4rem;
    }
    .sequence-lives{
        font-size: 1.2rem;
    }
    .sequence-lives img{
        height: 35px;
    }
    .game-over{
        height: 300px;
        width: 300px;
    }
    .game-over-image{
        height: 125px
    }
    .game-over-title{
        margin-top: 20px;
        font-size: 1.4rem
    }
    .game-over-text{
        font-size: 1.2rem;
    }
    .game-over-flavour-text{
        font-size: 1.0rem;
        padding: 0px 20px;
    }
    .game-over button{
        position: relative;
        top: -88%;
        font-size: 0.7rem;
    }
}
